{% extends 'base.html.twig' %}
{% block title %}Player Display{% endblock %}
{% block body %}
<div class="container-fluid mw-100 player-display-container">
    <img class="background-image" src="{{ vich_uploader_asset(game, 'imageFile') }}" alt="{{ game.imageName }}" />
    <div class="container overlay-image">
        <div class="row row-col-3">
            {% for npc in npcs %}
            {% set npcnames = npc.name|split(' ') %}
            {% if npc.showPlayers == TRUE %}
                <div class="col-4" id="{{ npcnames|join('-') }}">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="{{ vich_uploader_asset(npc, 'imageFile') }}" alt="{{ npc.imageName }}" />
                    </figure>
                </div>
            {% endif %}
            {% endfor %}
            {% for creature in creatures %}
            {% set creaturenames = creature.name|split(' ') %}
            {% if creature.showPlayers == TRUE %}
                <div class="col-4" id="{{ creaturenames|join('-') }}">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="{{ vich_uploader_asset(creature, 'imageFile') }}" alt="{{ creature.imageName }}" />
                    </figure>
                </div>
            {% endif %}
            {% endfor %}
            {% for location in locations %}
            {% set locationnames = location.name|split(' ') %}
            {% if location.showPlayers == TRUE %}
                <div class="col" id="{{ locationnames|join('-') }}">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="{{ vich_uploader_asset(location, 'imageFile') }}" alt="{{ location.imageName }}" />
                    </figure>
                </div>
            {% endif %}
            {% endfor %}
            {% for item in items %}
            {% set itemnames = item.name|split(' ') %}
            {% if item.showPlayers == TRUE %}
                <div class="col-4" id="{{ itemnames|join('-') }}">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.imageName }}" />
                    </figure>
                </div>
            {% endif %}
            {% endfor %}
            {% for other in others %}
            {% set othernames = other.name|split(' ') %}
            {% if other.showPlayers == TRUE %}
                <div class="col-4" id="{{ othernames|join('-') }}">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="{{ vich_uploader_asset(other, 'imageFile') }}" alt="{{ other.imageName }}" />
                    </figure>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}