{% extends 'base.html.twig' %}

{% block title %}Creature index{% endblock %}

{% block body %}
<!-- creature index -->
    <h1>Creature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Notes</th>
                <th>ShowPlayers</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creature in creatures %}
            <tr>
                <td>{{ creature.id }}</td>
                <td>{{ creature.name }}</td>
                <td>{{ creature.description|raw }}</td>
                <td>{{ creature.notes|raw }}</td>
                <td>{{ creature.showPlayers ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('creature_show', {'id': creature.id}) }}">show</a>
                    <a href="{{ path('creature_edit', {'id': creature.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('creature_new') }}">Create new</a>
{% endblock %}
