{% extends 'base.html.twig' %}

{% block title %}New Encounter{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>New Encounter</h1>
    <h2>Add Fighters</h2>
    {{ form_start(newEncounterForm) }}
        {{ form_widget(newEncounterForm) }}
        <button class="btn custom-color-red">{{ button_label|default('Save') }}</button>
    {{ form_end(newEncounterForm) }}

    {#
    {{ form_start(newEncounterForm) }}
    <h3>Characters</h3>
    <ul class="characters">
        {% for character in newEncounterForm.characters %}
        <li>{{ form_row(character.name) }}</li>
        <li>{{ form_row(character.initiative) }}</li>

        {% endfor %}
    </ul>
    <h3>NPCs</h3>
    <ul class="npcs">
        {% for npcs in newEncounterForm.npcs %}
        <li>{{ form_row(npc.name) }}</li>
        <li>{{ form_row(npc.initiative) }}</li>
        <li>{{ form_row(npc.hp) }}</li>
        <li>{{ form_row(npc.armorClass) }}</li>
        {% endfor %}
    </ul>
    <h3>creatures</h3>
    <ul class="creatures">
        {% for creature in newEncounterForm.creatures %}
        <li>{{ form_row(creature.name) }}</li>
        <li>{{ form_row(creature.initiative) }}</li>
        <li>{{ form_row(creature.hp) }}</li>
        <li>{{ form_row(creature.armorClass) }}</li>
        {% endfor %}
    </ul>
    {{ form_end(newEncounterForm) }}
    #}
    <button class="btn custom-color-red">{{ button_label|default('Next') }}</button>
    <a type="button" class="btn custom-color-red" href="{{ path('encounter_index') }}">Back to List</a>
</div>
{% endblock %}
